body{
    background-color: rgb(23, 21, 21);
}

.name-dark{
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
    text-align: center;
    margin-top : 5%;
}

.name-light{
    color: white;
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
    text-align: center;
    margin-top : 5%;
}

.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
}

#change-theme1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#change-theme2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#accordion{
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

#accordion h3{
    background-color : white;
    color : black;
} 

.timeline p{
    margin:0px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.offset-md-3{
    margin-left:0px;
}