<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'javascript/index.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'cssandfonts/index.css' %}">

    <title>Test JavaScript</title>
</head>

<body>
    <h1 class="name-dark">Muhammad Raihan</h1>
    <h1 class="name-light">Muhammad Raihan</h1>
    <img src="{% static 'images/OM.png' %}" alt="author's picture" class="foto"><br>
    <button id="change-theme1" class="btn btn-light">Light Mode</button>
    <button id="change-theme2" class="btn btn-dark">Dark Mode</button>

    <div id="accordion">
        <h3>Profile</h3>
        <div style = "max-height : 150px;">
            <table>
                <tr>
                    <td style="width : 50%">Full Name </td>
                    <td>: Muhammad Raihan</td>
                </tr>
                <tr>
                    <td>Surname </td>
                    <td>: Raihan (Om)</td>
                </tr>
                <tr>
                    <td>Hobby </td>
                    <td>: Badminton</td>
                </tr>
            </table>
        </div>
        <h3>Educational Background</h3>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="timeline">
                            <li>
                                <p><b>SD Bhakti YKKP</b></p>
                                <p>2006-2012</p>
                                <p>Nilai Akhir Ujian Nasional : 28,45</p>
                            </li>
                            <li>
                                <p><b>SMPN 75 Jakarta</b></p>
                                <p>2012-2015</p>
                                <p>Nilai Akhir Ujian Nasional : 37,75</p>
                            </li>
                            <li>
                                <p><b>SMAN 78 Jakarta</b></p>
                                <p>2015-2018</p>
                                <p>Nilai Akhir Ujian Nasional : 33,00</p>
                            </li>
                            <li>
                                <p><b>Universitas Indonesia</b></p>
                                <p>Fakultas Ilmu Komputer</p>
                                <p>2018-Present</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h3>Organization Experience</h3>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="timeline">
                            <li>
                                <p>OSIS SMPN 75 Jakarta</p>
                                <p>Divisi Peningkatan Mutu Pendidikan</p>
                                <p>2013-2014</p>
                            </li>
                            <li>
                                <p>OSIS SMAN 78 Jakarta</p>
                                <p>Anggota Divisi 9</p>
                                <p>2015-2016</p>
                            </li>
                            <li>
                                <p>MPK SMAN 78 Jakarta</p>
                                <p>Kepala Komisi F</p>
                                <p>2013-2014</p>
                            </li>
                            <li>
                                <p>BEM Fasilkom UI 2019</p>
                                <p>Staff Departemen Olahraga</p>
                                <p>2019-2020</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 offset-md-3">
                            <ul class="timeline">
                                <li>
                                    <p>Universiade UI 2018</p>
                                    <p>Staff Publikasi</p>
                                    <p>2018</p>
                                </li>
                                <li>
                                    <p>CS League 2019</p>
                                    <p>Staff Perlengkapan</p>
                                    <p>2018</p>
                                </li>
                                <li>
                                    <p>Computers Get Together</p>
                                    <p>Staff Humas</p>
                                    <p>2019</p>
                                </li>
                                <li>
                                    <p>CGTxCSL</p>
                                    <p>Calon Project Officer</p>
                                    <p>2020</p>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>